*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* wireframing border */
    border: 1px solid red;
}

header {
    background-color: lemonchiffon;
    color: maroon;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

nav{
    text-align: right;
    padding: 25px;
}

ul li {
    display: inline;
}